USE [PetsManager]
GO
ALTER TABLE [dbo].[services] DROP CONSTRAINT [CK__services__price__6B24EA82]
GO
ALTER TABLE [dbo].[services] DROP CONSTRAINT [CK__services__durati__6C190EBB]
GO
ALTER TABLE [dbo].[service_packages] DROP CONSTRAINT [CK__service_p__valid__74AE54BC]
GO
ALTER TABLE [dbo].[service_packages] DROP CONSTRAINT [CK__service_p__price__70DDC3D8]
GO
ALTER TABLE [dbo].[service_packages] DROP CONSTRAINT [CK__service_p__durat__71D1E811]
GO
ALTER TABLE [dbo].[products] DROP CONSTRAINT [CK__products__stock___02084FDA]
GO
ALTER TABLE [dbo].[products] DROP CONSTRAINT [CK__products__status__03F0984C]
GO
ALTER TABLE [dbo].[products] DROP CONSTRAINT [CK__products__sell_p__00200768]
GO
ALTER TABLE [dbo].[products] DROP CONSTRAINT [CK__products__import__7F2BE32F]
GO
ALTER TABLE [dbo].[pets] DROP CONSTRAINT [CK__pets__gender__43D61337]
GO
ALTER TABLE [dbo].[payments] DROP CONSTRAINT [CK__payments__status__367C1819]
GO
ALTER TABLE [dbo].[payments] DROP CONSTRAINT [CK__payments__paymen__32AB8735]
GO
ALTER TABLE [dbo].[payments] DROP CONSTRAINT [CK__payments__amount__339FAB6E]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [CK__orders__total_am__25518C17]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [CK__orders__status__2739D489]
GO
ALTER TABLE [dbo].[order_items] DROP CONSTRAINT [CK__order_ite__quant__2BFE89A6]
GO
ALTER TABLE [dbo].[order_items] DROP CONSTRAINT [CK__order_ite__price__2CF2ADDF]
GO
ALTER TABLE [dbo].[notifications] DROP CONSTRAINT [CK__notificati__type__65370702]
GO
ALTER TABLE [dbo].[medical_prescriptions] DROP CONSTRAINT [CK__medical_p__durat__5CA1C101]
GO
ALTER TABLE [dbo].[invoices] DROP CONSTRAINT [CK__invoices__total___3C34F16F]
GO
ALTER TABLE [dbo].[invoices] DROP CONSTRAINT [CK__invoices__tax_am__3E1D39E1]
GO
ALTER TABLE [dbo].[import_receipts] DROP CONSTRAINT [CK__import_re__total__0A9D95DB]
GO
ALTER TABLE [dbo].[import_details] DROP CONSTRAINT [CK__import_de__quant__10566F31]
GO
ALTER TABLE [dbo].[import_details] DROP CONSTRAINT [CK__import_de__impor__114A936A]
GO
ALTER TABLE [dbo].[feedbacks] DROP CONSTRAINT [CK__feedbacks__statu__6CD828CA]
GO
ALTER TABLE [dbo].[carts] DROP CONSTRAINT [CK__carts__status__17036CC0]
GO
ALTER TABLE [dbo].[cart_items] DROP CONSTRAINT [CK__cart_item__quant__1DB06A4F]
GO
ALTER TABLE [dbo].[cart_items] DROP CONSTRAINT [CK__cart_item__price__1EA48E88]
GO
ALTER TABLE [dbo].[breed_predictions] DROP CONSTRAINT [CK__breed_pre__confi__756D6ECB]
GO
ALTER TABLE [dbo].[breed_prediction_details] DROP CONSTRAINT [CK__breed_pre__confi__7C1A6C5A]
GO
ALTER TABLE [dbo].[appointments_services] DROP CONSTRAINT [CK__appointme__price__4E53A1AA]
GO
ALTER TABLE [dbo].[veterinarians] DROP CONSTRAINT [FK_veterinarians_users]
GO
ALTER TABLE [dbo].[vaccination_records] DROP CONSTRAINT [FK__vaccinati__vet_i__59C55456]
GO
ALTER TABLE [dbo].[vaccination_records] DROP CONSTRAINT [FK__vaccinati__pet_i__58D1301D]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[staff] DROP CONSTRAINT [FK_staff_users]
GO
ALTER TABLE [dbo].[role_permissions] DROP CONSTRAINT [FK_role_permissions_roles]
GO
ALTER TABLE [dbo].[role_permissions] DROP CONSTRAINT [FK_role_permissions_permissions]
GO
ALTER TABLE [dbo].[products] DROP CONSTRAINT [FK__products__catego__05D8E0BE]
GO
ALTER TABLE [dbo].[pets] DROP CONSTRAINT [FK_pets_users]
GO
ALTER TABLE [dbo].[pet_packages] DROP CONSTRAINT [FK__pet_packa__pet_i__6166761E]
GO
ALTER TABLE [dbo].[pet_packages] DROP CONSTRAINT [FK__pet_packa__packa__625A9A57]
GO
ALTER TABLE [dbo].[pet_images] DROP CONSTRAINT [FK_PetImages_Pets]
GO
ALTER TABLE [dbo].[pet_health_records] DROP CONSTRAINT [FK__pet_healt__vet_i__55F4C372]
GO
ALTER TABLE [dbo].[pet_health_records] DROP CONSTRAINT [FK__pet_healt__pet_i__540C7B00]
GO
ALTER TABLE [dbo].[pet_health_records] DROP CONSTRAINT [FK__pet_healt__appoi__55009F39]
GO
ALTER TABLE [dbo].[payments] DROP CONSTRAINT [FK__payments__order___37703C52]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [FK__orders__user_id__282DF8C2]
GO
ALTER TABLE [dbo].[order_items] DROP CONSTRAINT [FK__order_ite__produ__2EDAF651]
GO
ALTER TABLE [dbo].[order_items] DROP CONSTRAINT [FK__order_ite__order__2DE6D218]
GO
ALTER TABLE [dbo].[notifications] DROP CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[notifications] DROP CONSTRAINT [FK_notifications_appointments]
GO
ALTER TABLE [dbo].[medical_prescriptions] DROP CONSTRAINT [FK__medical_p__recor__5D95E53A]
GO
ALTER TABLE [dbo].[invoices] DROP CONSTRAINT [FK__invoices__order___3F115E1A]
GO
ALTER TABLE [dbo].[invoices] DROP CONSTRAINT [FK__invoices__issued__40058253]
GO
ALTER TABLE [dbo].[import_receipts] DROP CONSTRAINT [FK__import_re__suppl__0B91BA14]
GO
ALTER TABLE [dbo].[import_receipts] DROP CONSTRAINT [FK__import_re__emplo__0C85DE4D]
GO
ALTER TABLE [dbo].[import_details] DROP CONSTRAINT [FK__import_de__recei__123EB7A3]
GO
ALTER TABLE [dbo].[import_details] DROP CONSTRAINT [FK__import_de__produ__1332DBDC]
GO
ALTER TABLE [dbo].[feedbacks] DROP CONSTRAINT [FK_feedbacks_users]
GO
ALTER TABLE [dbo].[chat_conversations] DROP CONSTRAINT [FK_chat_conversations_users]
GO
ALTER TABLE [dbo].[carts] DROP CONSTRAINT [FK__carts__user_id__18EBB532]
GO
ALTER TABLE [dbo].[cart_items] DROP CONSTRAINT [FK__cart_item__produ__208CD6FA]
GO
ALTER TABLE [dbo].[cart_items] DROP CONSTRAINT [FK__cart_item__cart___1F98B2C1]
GO
ALTER TABLE [dbo].[breed_predictions] DROP CONSTRAINT [FK_BreedPredictions_Users]
GO
ALTER TABLE [dbo].[breed_prediction_details] DROP CONSTRAINT [FK_BreedPredictionDetails_Predictions]
GO
ALTER TABLE [dbo].[appointments_services] DROP CONSTRAINT [FK__appointme__servi__503BEA1C]
GO
ALTER TABLE [dbo].[appointments_services] DROP CONSTRAINT [FK__appointme__appoi__4F47C5E3]
GO
ALTER TABLE [dbo].[appointments] DROP CONSTRAINT [FK__appointme__vet_i__4B7734FF]
GO
ALTER TABLE [dbo].[appointments] DROP CONSTRAINT [FK__appointme__user___4A8310C6]
GO
ALTER TABLE [dbo].[appointments] DROP CONSTRAINT [FK__appointme__pet_i__498EEC8D]
GO
ALTER TABLE [dbo].[veterinarians] DROP CONSTRAINT [DF__veterinar__creat__6754599E]
GO
ALTER TABLE [dbo].[veterinarians] DROP CONSTRAINT [DF__veterinar__statu__66603565]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF__users__created_a__5AEE82B9]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF__users__status__59FA5E80]
GO
ALTER TABLE [dbo].[suppliers] DROP CONSTRAINT [DF__suppliers__creat__7C4F7684]
GO
ALTER TABLE [dbo].[staff] DROP CONSTRAINT [DF__staff__created_a__60A75C0F]
GO
ALTER TABLE [dbo].[staff] DROP CONSTRAINT [DF__staff__status__5FB337D6]
GO
ALTER TABLE [dbo].[services] DROP CONSTRAINT [DF__services__create__6E01572D]
GO
ALTER TABLE [dbo].[services] DROP CONSTRAINT [DF__services__status__6D0D32F4]
GO
ALTER TABLE [dbo].[service_packages] DROP CONSTRAINT [DF__service_p__creat__73BA3083]
GO
ALTER TABLE [dbo].[service_packages] DROP CONSTRAINT [DF__service_p__statu__72C60C4A]
GO
ALTER TABLE [dbo].[roles] DROP CONSTRAINT [DF__roles__created_a__4BAC3F29]
GO
ALTER TABLE [dbo].[roles] DROP CONSTRAINT [DF__roles__status__4AB81AF0]
GO
ALTER TABLE [dbo].[role_permissions] DROP CONSTRAINT [DF__role_perm__creat__534D60F1]
GO
ALTER TABLE [dbo].[products] DROP CONSTRAINT [DF__products__create__04E4BC85]
GO
ALTER TABLE [dbo].[products] DROP CONSTRAINT [DF__products__status__02FC7413]
GO
ALTER TABLE [dbo].[products] DROP CONSTRAINT [DF__products__stock___01142BA1]
GO
ALTER TABLE [dbo].[pets] DROP CONSTRAINT [DF__pets__created_at__44CA3770]
GO
ALTER TABLE [dbo].[pet_packages] DROP CONSTRAINT [DF__pet_packa__statu__607251E5]
GO
ALTER TABLE [dbo].[pet_images] DROP CONSTRAINT [DF__pet_image__uploa__00DF2177]
GO
ALTER TABLE [dbo].[pet_images] DROP CONSTRAINT [DF__pet_image__is_av__7FEAFD3E]
GO
ALTER TABLE [dbo].[pet_health_records] DROP CONSTRAINT [DF__pet_healt__visit__531856C7]
GO
ALTER TABLE [dbo].[permissions] DROP CONSTRAINT [DF__permissio__creat__5070F446]
GO
ALTER TABLE [dbo].[permissions] DROP CONSTRAINT [DF__permissio__is_ac__4F7CD00D]
GO
ALTER TABLE [dbo].[payments] DROP CONSTRAINT [DF__payments__status__3587F3E0]
GO
ALTER TABLE [dbo].[payments] DROP CONSTRAINT [DF__payments__paymen__3493CFA7]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [DF__orders__status__2645B050]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [DF__orders__total_am__245D67DE]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [DF__orders__order_da__236943A5]
GO
ALTER TABLE [dbo].[notifications] DROP CONSTRAINT [DF__notificat__creat__671F4F74]
GO
ALTER TABLE [dbo].[notifications] DROP CONSTRAINT [DF__notificat__is_re__662B2B3B]
GO
ALTER TABLE [dbo].[invoices] DROP CONSTRAINT [DF__invoices__tax_am__3D2915A8]
GO
ALTER TABLE [dbo].[invoices] DROP CONSTRAINT [DF__invoices__invoic__3B40CD36]
GO
ALTER TABLE [dbo].[import_receipts] DROP CONSTRAINT [DF__import_re__total__09A971A2]
GO
ALTER TABLE [dbo].[import_receipts] DROP CONSTRAINT [DF__import_re__recei__08B54D69]
GO
ALTER TABLE [dbo].[feedbacks] DROP CONSTRAINT [DF__feedbacks__creat__6DCC4D03]
GO
ALTER TABLE [dbo].[feedbacks] DROP CONSTRAINT [DF__feedbacks__statu__6BE40491]
GO
ALTER TABLE [dbo].[chat_conversations] DROP CONSTRAINT [DF__chat_conv__creat__719CDDE7]
GO
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [DF__categorie__creat__787EE5A0]
GO
ALTER TABLE [dbo].[carts] DROP CONSTRAINT [DF__carts__created_a__17F790F9]
GO
ALTER TABLE [dbo].[carts] DROP CONSTRAINT [DF__carts__status__160F4887]
GO
ALTER TABLE [dbo].[cart_items] DROP CONSTRAINT [DF__cart_item__quant__1CBC4616]
GO
ALTER TABLE [dbo].[breed_predictions] DROP CONSTRAINT [DF__breed_pre__creat__76619304]
GO
ALTER TABLE [dbo].[appointments] DROP CONSTRAINT [DF__appointme__statu__489AC854]
GO
/****** Object:  Index [UQ__veterina__BBBB6DA6808577AA]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[veterinarians] DROP CONSTRAINT [UQ__veterina__BBBB6DA6808577AA]
GO
/****** Object:  Index [UQ__veterina__B9BE370E55F2101E]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[veterinarians] DROP CONSTRAINT [UQ__veterina__B9BE370E55F2101E]
GO
/****** Object:  Index [IX_vaccination_records_pet_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_vaccination_records_pet_id] ON [dbo].[vaccination_records]
GO
/****** Object:  Index [UQ__users__F3DBC572D0AC3FD8]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[users] DROP CONSTRAINT [UQ__users__F3DBC572D0AC3FD8]
GO
/****** Object:  Index [UQ__users__AB6E616484B83536]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[users] DROP CONSTRAINT [UQ__users__AB6E616484B83536]
GO
/****** Object:  Index [UQ__supplier__AB6E61645AF3786C]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[suppliers] DROP CONSTRAINT [UQ__supplier__AB6E61645AF3786C]
GO
/****** Object:  Index [UQ__staff__B9BE370E2A93FBB2]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[staff] DROP CONSTRAINT [UQ__staff__B9BE370E2A93FBB2]
GO
/****** Object:  Index [IX_pets_user_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_pets_user_id] ON [dbo].[pets]
GO
/****** Object:  Index [UQ__pets__2254D598BAD98A68]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[pets] DROP CONSTRAINT [UQ__pets__2254D598BAD98A68]
GO
/****** Object:  Index [IX_pet_packages_pet_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_pet_packages_pet_id] ON [dbo].[pet_packages]
GO
/****** Object:  Index [IX_PetImages_PetId]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_PetImages_PetId] ON [dbo].[pet_images]
GO
/****** Object:  Index [IX_pet_health_records_pet_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_pet_health_records_pet_id] ON [dbo].[pet_health_records]
GO
/****** Object:  Index [UQ__permissi__357D4CF941E2CFFC]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[permissions] DROP CONSTRAINT [UQ__permissi__357D4CF941E2CFFC]
GO
/****** Object:  Index [UQ__payments__DD5740BEC23CB573]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[payments] DROP CONSTRAINT [UQ__payments__DD5740BEC23CB573]
GO
/****** Object:  Index [UQ__order_it__022945F70F9B4568]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[order_items] DROP CONSTRAINT [UQ__order_it__022945F70F9B4568]
GO
/****** Object:  Index [IX_notifications_user_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_notifications_user_id] ON [dbo].[notifications]
GO
/****** Object:  Index [IX_medical_prescriptions_record_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_medical_prescriptions_record_id] ON [dbo].[medical_prescriptions]
GO
/****** Object:  Index [UQ__invoices__465962288FA3F3F0]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[invoices] DROP CONSTRAINT [UQ__invoices__465962288FA3F3F0]
GO
/****** Object:  Index [UQ__import_d__D5850BC1B329C39E]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[import_details] DROP CONSTRAINT [UQ__import_d__D5850BC1B329C39E]
GO
/****** Object:  Index [IX_feedbacks_user_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_feedbacks_user_id] ON [dbo].[feedbacks]
GO
/****** Object:  Index [IX_chat_conversations_user_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_chat_conversations_user_id] ON [dbo].[chat_conversations]
GO
/****** Object:  Index [UQ__categori__5189E25599D99276]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [UQ__categori__5189E25599D99276]
GO
/****** Object:  Index [UQ__cart_ite__6A850DF9C45C037A]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[cart_items] DROP CONSTRAINT [UQ__cart_ite__6A850DF9C45C037A]
GO
/****** Object:  Index [IX_BreedPredictions_UserId]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_BreedPredictions_UserId] ON [dbo].[breed_predictions]
GO
/****** Object:  Index [IX_BreedPredictionDetails_PredictionId]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_BreedPredictionDetails_PredictionId] ON [dbo].[breed_prediction_details]
GO
/****** Object:  Index [UQ_BreedPredictionDetails_Rank]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[breed_prediction_details] DROP CONSTRAINT [UQ_BreedPredictionDetails_Rank]
GO
/****** Object:  Index [UQ_BreedPredictionDetails_Breed]    Script Date: 9/29/2026 10:57:54 PM ******/
ALTER TABLE [dbo].[breed_prediction_details] DROP CONSTRAINT [UQ_BreedPredictionDetails_Breed]
GO
/****** Object:  Index [IX_appointments_user_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_appointments_user_id] ON [dbo].[appointments]
GO
/****** Object:  Index [IX_appointments_pet_id]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_appointments_pet_id] ON [dbo].[appointments]
GO
/****** Object:  Index [IX_appointments_date]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP INDEX [IX_appointments_date] ON [dbo].[appointments]
GO
/****** Object:  Table [dbo].[veterinarians]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[veterinarians]') AND type in (N'U'))
DROP TABLE [dbo].[veterinarians]
GO
/****** Object:  Table [dbo].[vaccination_records]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vaccination_records]') AND type in (N'U'))
DROP TABLE [dbo].[vaccination_records]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[suppliers]') AND type in (N'U'))
DROP TABLE [dbo].[suppliers]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[staff]') AND type in (N'U'))
DROP TABLE [dbo].[staff]
GO
/****** Object:  Table [dbo].[services]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[services]') AND type in (N'U'))
DROP TABLE [dbo].[services]
GO
/****** Object:  Table [dbo].[service_packages]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[service_packages]') AND type in (N'U'))
DROP TABLE [dbo].[service_packages]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[roles]') AND type in (N'U'))
DROP TABLE [dbo].[roles]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[role_permissions]') AND type in (N'U'))
DROP TABLE [dbo].[role_permissions]
GO
/****** Object:  Table [dbo].[products]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[products]') AND type in (N'U'))
DROP TABLE [dbo].[products]
GO
/****** Object:  Table [dbo].[pets]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pets]') AND type in (N'U'))
DROP TABLE [dbo].[pets]
GO
/****** Object:  Table [dbo].[pet_packages]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pet_packages]') AND type in (N'U'))
DROP TABLE [dbo].[pet_packages]
GO
/****** Object:  Table [dbo].[pet_images]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pet_images]') AND type in (N'U'))
DROP TABLE [dbo].[pet_images]
GO
/****** Object:  Table [dbo].[pet_health_records]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pet_health_records]') AND type in (N'U'))
DROP TABLE [dbo].[pet_health_records]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[permissions]') AND type in (N'U'))
DROP TABLE [dbo].[permissions]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[payments]') AND type in (N'U'))
DROP TABLE [dbo].[payments]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[orders]') AND type in (N'U'))
DROP TABLE [dbo].[orders]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order_items]') AND type in (N'U'))
DROP TABLE [dbo].[order_items]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[notifications]') AND type in (N'U'))
DROP TABLE [dbo].[notifications]
GO
/****** Object:  Table [dbo].[medical_prescriptions]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[medical_prescriptions]') AND type in (N'U'))
DROP TABLE [dbo].[medical_prescriptions]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[invoices]') AND type in (N'U'))
DROP TABLE [dbo].[invoices]
GO
/****** Object:  Table [dbo].[import_receipts]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[import_receipts]') AND type in (N'U'))
DROP TABLE [dbo].[import_receipts]
GO
/****** Object:  Table [dbo].[import_details]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[import_details]') AND type in (N'U'))
DROP TABLE [dbo].[import_details]
GO
/****** Object:  Table [dbo].[feedbacks]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[feedbacks]') AND type in (N'U'))
DROP TABLE [dbo].[feedbacks]
GO
/****** Object:  Table [dbo].[chat_conversations]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[chat_conversations]') AND type in (N'U'))
DROP TABLE [dbo].[chat_conversations]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[categories]') AND type in (N'U'))
DROP TABLE [dbo].[categories]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[carts]') AND type in (N'U'))
DROP TABLE [dbo].[carts]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cart_items]') AND type in (N'U'))
DROP TABLE [dbo].[cart_items]
GO
/****** Object:  Table [dbo].[breed_predictions]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[breed_predictions]') AND type in (N'U'))
DROP TABLE [dbo].[breed_predictions]
GO
/****** Object:  Table [dbo].[breed_prediction_details]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[breed_prediction_details]') AND type in (N'U'))
DROP TABLE [dbo].[breed_prediction_details]
GO
/****** Object:  Table [dbo].[appointments_services]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[appointments_services]') AND type in (N'U'))
DROP TABLE [dbo].[appointments_services]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 9/29/2026 10:57:54 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[appointments]') AND type in (N'U'))
DROP TABLE [dbo].[appointments]
GO
USE [master]
GO
/****** Object:  Database [PetsManager]    Script Date: 9/29/2026 10:57:54 PM ******/
DROP DATABASE [PetsManager]
GO
/****** Object:  Database [PetsManager]    Script Date: 9/29/2026 10:57:54 PM ******/
CREATE DATABASE [PetsManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetsManager', FILENAME = N'D:\SGU Nam 4 HK1\SQLServer\MSSQL17.MSSQLSERVER\MSSQL\DATA\PetsManager.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetsManager_log', FILENAME = N'D:\SGU Nam 4 HK1\SQLServer\MSSQL17.MSSQLSERVER\MSSQL\DATA\PetsManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetsManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetsManager]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[vet_id] [int] NULL,
	[appointment_date] [date] NOT NULL,
	[appointment_time] [time](7) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointments_services]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments_services](
	[appointment_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[price_at_booking] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[breed_prediction_details]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[breed_prediction_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prediction_id] [int] NOT NULL,
	[predicted_breed] [nvarchar](100) NOT NULL,
	[rank_order] [tinyint] NOT NULL,
	[confidence] [decimal](5, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[breed_predictions]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[breed_predictions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[predicted_breed] [nvarchar](100) NOT NULL,
	[confidence] [decimal](5, 4) NOT NULL,
	[execution_time_ms] [int] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_conversations]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_conversations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[user_request] [nvarchar](max) NOT NULL,
	[ai_response] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedbacks]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedbacks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[comment] [nvarchar](2000) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_details]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[import_price] [decimal](12, 2) NOT NULL,
	[subtotal] [decimal](14, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_receipts]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_receipts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[receipt_date] [datetime] NOT NULL,
	[total_amount] [decimal](14, 2) NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[invoice_date] [datetime] NOT NULL,
	[total_amount] [decimal](14, 2) NOT NULL,
	[tax_amount] [decimal](14, 2) NOT NULL,
	[issued_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_prescriptions]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_prescriptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[record_id] [int] NOT NULL,
	[medication_name] [nvarchar](255) NOT NULL,
	[dosage] [nvarchar](100) NOT NULL,
	[frequency] [nvarchar](100) NOT NULL,
	[duration_days] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[appointment_id] [int] NULL,
	[message] [nvarchar](1000) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[subtotal] [decimal](14, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[shipping_address] [nvarchar](255) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[total_amount] [decimal](14, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[payment_method] [varchar](20) NOT NULL,
	[amount] [decimal](14, 2) NOT NULL,
	[payment_date] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[transaction_code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](60) NOT NULL,
	[name] [nvarchar](40) NOT NULL,
	[description] [nvarchar](255) NULL,
	[module] [nvarchar](40) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet_health_records]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet_health_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NOT NULL,
	[appointment_id] [int] NULL,
	[vet_id] [int] NOT NULL,
	[weight_kg] [decimal](5, 2) NULL,
	[temperature] [decimal](4, 1) NULL,
	[diagnosis] [nvarchar](max) NULL,
	[treatment] [nvarchar](max) NULL,
	[visit_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet_images]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[is_avatar] [bit] NULL,
	[uploaded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet_packages]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet_packages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NOT NULL,
	[package_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pets]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[qr_token] [varchar](100) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[species] [nvarchar](50) NOT NULL,
	[breed] [nvarchar](80) NULL,
	[gender] [varchar](10) NOT NULL,
	[weight_kg] [decimal](4, 2) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[product_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[unit] [nvarchar](20) NULL,
	[import_price] [decimal](12, 2) NOT NULL,
	[sell_price] [decimal](12, 2) NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[image_url] [varchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](40) NOT NULL,
	[description] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_packages]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_packages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[duration_minutes] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
	[validity_days] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[duration_minutes] [int] NOT NULL,
	[image_url] [varchar](max) NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[position] [nvarchar](60) NULL,
	[hire_date] [date] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](150) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[email] [varchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[username] [nvarchar](40) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](40) NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](40) NULL,
	[address] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vaccination_records]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vaccination_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NOT NULL,
	[vaccine_name] [nvarchar](255) NOT NULL,
	[batch_number] [varchar](100) NULL,
	[administered_date] [date] NOT NULL,
	[next_due_date] [date] NULL,
	[vet_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[veterinarians]    Script Date: 9/29/2026 10:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[veterinarians](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[specialty] [nvarchar](100) NULL,
	[license_no] [nvarchar](50) NULL,
	[years_of_experience] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[appointments] ON 

INSERT [dbo].[appointments] ([id], [pet_id], [user_id], [vet_id], [appointment_date], [appointment_time], [reason], [status]) VALUES (1, 1, 1, 1, CAST(N'2026-10-01' AS Date), CAST(N'09:00:00' AS Time), N'Kham dinh ky', 2)
INSERT [dbo].[appointments] ([id], [pet_id], [user_id], [vet_id], [appointment_date], [appointment_time], [reason], [status]) VALUES (2, 2, 2, 2, CAST(N'2026-10-02' AS Date), CAST(N'10:00:00' AS Time), N'Tiem phong', 1)
INSERT [dbo].[appointments] ([id], [pet_id], [user_id], [vet_id], [appointment_date], [appointment_time], [reason], [status]) VALUES (3, 3, 3, 3, CAST(N'2026-10-03' AS Date), CAST(N'11:00:00' AS Time), N'Kiem tra da', 3)
SET IDENTITY_INSERT [dbo].[appointments] OFF
GO
INSERT [dbo].[appointments_services] ([appointment_id], [service_id], [price_at_booking]) VALUES (1, 1, CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[appointments_services] ([appointment_id], [service_id], [price_at_booking]) VALUES (2, 2, CAST(200000.00 AS Decimal(10, 2)))
INSERT [dbo].[appointments_services] ([appointment_id], [service_id], [price_at_booking]) VALUES (3, 3, CAST(120000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[breed_prediction_details] ON 

INSERT [dbo].[breed_prediction_details] ([id], [prediction_id], [predicted_breed], [rank_order], [confidence]) VALUES (1, 1, N'Poodle', 1, CAST(0.9500 AS Decimal(5, 4)))
INSERT [dbo].[breed_prediction_details] ([id], [prediction_id], [predicted_breed], [rank_order], [confidence]) VALUES (2, 2, N'Munchkin', 1, CAST(0.9100 AS Decimal(5, 4)))
INSERT [dbo].[breed_prediction_details] ([id], [prediction_id], [predicted_breed], [rank_order], [confidence]) VALUES (3, 3, N'Golden Retriever', 1, CAST(0.8800 AS Decimal(5, 4)))
SET IDENTITY_INSERT [dbo].[breed_prediction_details] OFF
GO
SET IDENTITY_INSERT [dbo].[breed_predictions] ON 

INSERT [dbo].[breed_predictions] ([id], [user_id], [image_url], [predicted_breed], [confidence], [execution_time_ms], [created_at]) VALUES (1, 1, N'prediction-01.jpg', N'Poodle', CAST(0.9500 AS Decimal(5, 4)), 120, CAST(N'2026-09-17T21:27:35.877' AS DateTime))
INSERT [dbo].[breed_predictions] ([id], [user_id], [image_url], [predicted_breed], [confidence], [execution_time_ms], [created_at]) VALUES (2, 2, N'prediction-02.jpg', N'Munchkin', CAST(0.9100 AS Decimal(5, 4)), 135, CAST(N'2026-09-17T21:27:35.877' AS DateTime))
INSERT [dbo].[breed_predictions] ([id], [user_id], [image_url], [predicted_breed], [confidence], [execution_time_ms], [created_at]) VALUES (3, 3, N'prediction-03.jpg', N'Golden Retriever', CAST(0.8800 AS Decimal(5, 4)), 110, CAST(N'2026-09-17T21:27:35.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[breed_predictions] OFF
GO
SET IDENTITY_INSERT [dbo].[cart_items] ON 

INSERT [dbo].[cart_items] ([id], [cart_id], [product_id], [quantity], [price]) VALUES (1, 1, 1, 2, CAST(120000.00 AS Decimal(12, 2)))
INSERT [dbo].[cart_items] ([id], [cart_id], [product_id], [quantity], [price]) VALUES (2, 2, 2, 3, CAST(40000.00 AS Decimal(12, 2)))
INSERT [dbo].[cart_items] ([id], [cart_id], [product_id], [quantity], [price]) VALUES (3, 3, 3, 1, CAST(90000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[cart_items] OFF
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([id], [user_id], [status], [created_at], [updated_at]) VALUES (1, 1, N'active', CAST(N'2026-09-17T21:27:35.703' AS DateTime), NULL)
INSERT [dbo].[carts] ([id], [user_id], [status], [created_at], [updated_at]) VALUES (2, 2, N'active', CAST(N'2026-09-17T21:27:35.703' AS DateTime), NULL)
INSERT [dbo].[carts] ([id], [user_id], [status], [created_at], [updated_at]) VALUES (3, 3, N'active', CAST(N'2026-09-17T21:27:35.703' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [category_name], [description], [created_at]) VALUES (1, N'Thuc an', N'Thuc an cho thu cung', CAST(N'2026-09-17T21:27:35.660' AS DateTime))
INSERT [dbo].[categories] ([id], [category_name], [description], [created_at]) VALUES (2, N'Phu kien', N'Vong co va do dung', CAST(N'2026-09-17T21:27:35.660' AS DateTime))
INSERT [dbo].[categories] ([id], [category_name], [description], [created_at]) VALUES (3, N'Ve sinh', N'San pham ve sinh', CAST(N'2026-09-17T21:27:35.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[chat_conversations] ON 

INSERT [dbo].[chat_conversations] ([id], [user_id], [title], [user_request], [ai_response], [created_at]) VALUES (1, 1, N'Cham soc cho', N'Cho nen an gi?', N'Nen an thuc an phu hop do tuoi va can nang.', CAST(N'2026-09-17T21:27:35.8666667' AS DateTime2))
INSERT [dbo].[chat_conversations] ([id], [user_id], [title], [user_request], [ai_response], [created_at]) VALUES (2, 2, N'Tiem phong', N'Meo bao lau tiem phong?', N'Thong thuong nen tiem theo lich cua bac si thu y.', CAST(N'2026-09-17T21:27:35.8666667' AS DateTime2))
INSERT [dbo].[chat_conversations] ([id], [user_id], [title], [user_request], [ai_response], [created_at]) VALUES (3, 3, N'Ve sinh', N'Bao lau tam cho?', N'Co the tam moi 2 den 4 tuan tuy giong va tinh trang da.', CAST(N'2026-09-17T21:27:35.8666667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[chat_conversations] OFF
GO
SET IDENTITY_INSERT [dbo].[feedbacks] ON 

INSERT [dbo].[feedbacks] ([id], [user_id], [comment], [status], [created_at]) VALUES (1, 1, N'Dich vu tot', N'resolved', CAST(N'2026-09-17T21:27:35.8566667' AS DateTime2))
INSERT [dbo].[feedbacks] ([id], [user_id], [comment], [status], [created_at]) VALUES (2, 2, N'Can them khung gio hen', N'resolved', CAST(N'2026-09-17T21:27:35.8566667' AS DateTime2))
INSERT [dbo].[feedbacks] ([id], [user_id], [comment], [status], [created_at]) VALUES (3, 3, N'Nhan vien than thien', N'pending', CAST(N'2026-09-17T21:27:35.8566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[import_details] ON 

INSERT [dbo].[import_details] ([id], [receipt_id], [product_id], [quantity], [import_price], [subtotal]) VALUES (1, 1, 1, 20, CAST(80000.00 AS Decimal(12, 2)), CAST(1600000.00 AS Decimal(14, 2)))
INSERT [dbo].[import_details] ([id], [receipt_id], [product_id], [quantity], [import_price], [subtotal]) VALUES (2, 2, 2, 40, CAST(25000.00 AS Decimal(12, 2)), CAST(1000000.00 AS Decimal(14, 2)))
INSERT [dbo].[import_details] ([id], [receipt_id], [product_id], [quantity], [import_price], [subtotal]) VALUES (3, 3, 3, 10, CAST(50000.00 AS Decimal(12, 2)), CAST(500000.00 AS Decimal(14, 2)))
SET IDENTITY_INSERT [dbo].[import_details] OFF
GO
SET IDENTITY_INSERT [dbo].[import_receipts] ON 

INSERT [dbo].[import_receipts] ([id], [supplier_id], [employee_id], [receipt_date], [total_amount], [note]) VALUES (1, 1, 1, CAST(N'2026-09-17T21:27:35.683' AS DateTime), CAST(6000000.00 AS Decimal(14, 2)), N'Nhap hang dot 1')
INSERT [dbo].[import_receipts] ([id], [supplier_id], [employee_id], [receipt_date], [total_amount], [note]) VALUES (2, 2, 2, CAST(N'2026-09-17T21:27:35.683' AS DateTime), CAST(3500000.00 AS Decimal(14, 2)), N'Nhap hang dot 2')
INSERT [dbo].[import_receipts] ([id], [supplier_id], [employee_id], [receipt_date], [total_amount], [note]) VALUES (3, 3, 1, CAST(N'2026-09-17T21:27:35.683' AS DateTime), CAST(2200000.00 AS Decimal(14, 2)), N'Nhap hang dot 3')
SET IDENTITY_INSERT [dbo].[import_receipts] OFF
GO
SET IDENTITY_INSERT [dbo].[invoices] ON 

INSERT [dbo].[invoices] ([id], [order_id], [invoice_date], [total_amount], [tax_amount], [issued_by]) VALUES (1, 1, CAST(N'2026-09-17T21:27:35.760' AS DateTime), CAST(240000.00 AS Decimal(14, 2)), CAST(24000.00 AS Decimal(14, 2)), 1)
INSERT [dbo].[invoices] ([id], [order_id], [invoice_date], [total_amount], [tax_amount], [issued_by]) VALUES (2, 2, CAST(N'2026-09-17T21:27:35.760' AS DateTime), CAST(120000.00 AS Decimal(14, 2)), CAST(12000.00 AS Decimal(14, 2)), 2)
INSERT [dbo].[invoices] ([id], [order_id], [invoice_date], [total_amount], [tax_amount], [issued_by]) VALUES (3, 3, CAST(N'2026-09-17T21:27:35.760' AS DateTime), CAST(90000.00 AS Decimal(14, 2)), CAST(9000.00 AS Decimal(14, 2)), 1)
SET IDENTITY_INSERT [dbo].[invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[medical_prescriptions] ON 

INSERT [dbo].[medical_prescriptions] ([id], [record_id], [medication_name], [dosage], [frequency], [duration_days]) VALUES (1, 1, N'Vitamin tong hop', N'1 vien', N'Moi ngay 1 lan', 5)
INSERT [dbo].[medical_prescriptions] ([id], [record_id], [medication_name], [dosage], [frequency], [duration_days]) VALUES (2, 2, N'Vaccine ho tro', N'1 lieu', N'Theo chi dinh', 1)
INSERT [dbo].[medical_prescriptions] ([id], [record_id], [medication_name], [dosage], [frequency], [duration_days]) VALUES (3, 3, N'Kem boi da', N'Mot lop mong', N'Moi ngay 2 lan', 7)
SET IDENTITY_INSERT [dbo].[medical_prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [appointment_id], [message], [type], [is_read], [created_at]) VALUES (1, 1, 1, N'Lich hen cua ban da duoc xac nhan', N'appointment', 0, CAST(N'2026-09-17T21:27:35.8466667' AS DateTime2))
INSERT [dbo].[notifications] ([id], [user_id], [appointment_id], [message], [type], [is_read], [created_at]) VALUES (2, 2, 2, N'Ban co lich tiem phong vao ngay mai', N'appointment', 0, CAST(N'2026-09-17T21:27:35.8466667' AS DateTime2))
INSERT [dbo].[notifications] ([id], [user_id], [appointment_id], [message], [type], [is_read], [created_at]) VALUES (3, 3, NULL, N'Uu dai thang nay giam 10 phan tram', N'promotion', 1, CAST(N'2026-09-17T21:27:35.8466667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [subtotal]) VALUES (1, 1, 1, 2, CAST(120000.00 AS Decimal(12, 2)), CAST(240000.00 AS Decimal(14, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [subtotal]) VALUES (2, 2, 1, 1, CAST(120000.00 AS Decimal(12, 2)), CAST(120000.00 AS Decimal(14, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [subtotal]) VALUES (3, 3, 3, 1, CAST(90000.00 AS Decimal(12, 2)), CAST(90000.00 AS Decimal(14, 2)))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [order_date], [shipping_address], [phone], [total_amount], [status], [note]) VALUES (1, 1, CAST(N'2026-09-17T21:27:35.723' AS DateTime), N'1 Nguyen Hue, TP HCM', N'0900000001', CAST(240000.00 AS Decimal(14, 2)), N'completed', N'Da giao')
INSERT [dbo].[orders] ([id], [user_id], [order_date], [shipping_address], [phone], [total_amount], [status], [note]) VALUES (2, 2, CAST(N'2026-09-17T21:27:35.723' AS DateTime), N'2 Le Loi, TP HCM', N'0900000002', CAST(120000.00 AS Decimal(14, 2)), N'confirmed', N'Cho xac nhan')
INSERT [dbo].[orders] ([id], [user_id], [order_date], [shipping_address], [phone], [total_amount], [status], [note]) VALUES (3, 3, CAST(N'2026-09-17T21:27:35.723' AS DateTime), N'3 Cach Mang Thang Tam, TP HCM', N'0900000003', CAST(90000.00 AS Decimal(14, 2)), N'shipping', N'Dang giao')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [order_id], [payment_method], [amount], [payment_date], [status], [transaction_code]) VALUES (1, 1, N'cash', CAST(240000.00 AS Decimal(14, 2)), CAST(N'2026-09-17T21:27:35.750' AS DateTime), N'completed', N'TXN-0001')
INSERT [dbo].[payments] ([id], [order_id], [payment_method], [amount], [payment_date], [status], [transaction_code]) VALUES (2, 2, N'bank_transfer', CAST(120000.00 AS Decimal(14, 2)), CAST(N'2026-09-17T21:27:35.750' AS DateTime), N'completed', N'TXN-0002')
INSERT [dbo].[payments] ([id], [order_id], [payment_method], [amount], [payment_date], [status], [transaction_code]) VALUES (3, 3, N'e_wallet', CAST(90000.00 AS Decimal(14, 2)), CAST(N'2026-09-17T21:27:35.750' AS DateTime), N'completed', N'TXN-0003')
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [code], [name], [description], [module], [is_active], [created_at], [updated_at]) VALUES (1, N'users.view', N'Xem nguoi dung', N'Xem danh sach tai khoan', N'Identity', 1, CAST(N'2026-09-17T21:27:35.6068438' AS DateTime2), CAST(N'2026-09-24T16:22:25.4189265' AS DateTime2))
INSERT [dbo].[permissions] ([id], [code], [name], [description], [module], [is_active], [created_at], [updated_at]) VALUES (2, N'users.manage', N'Quan ly nguoi dung', N'Them sua xoa tai khoan', N'Identity', 1, CAST(N'2026-09-17T21:27:35.6068438' AS DateTime2), NULL)
INSERT [dbo].[permissions] ([id], [code], [name], [description], [module], [is_active], [created_at], [updated_at]) VALUES (3, N'roles.manage', N'Quan ly vai tro', N'Them sua xoa vai tro', N'Identity', 1, CAST(N'2026-09-17T21:27:35.6068438' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[pet_health_records] ON 

INSERT [dbo].[pet_health_records] ([id], [pet_id], [appointment_id], [vet_id], [weight_kg], [temperature], [diagnosis], [treatment], [visit_date]) VALUES (1, 1, 1, 1, CAST(6.20 AS Decimal(5, 2)), CAST(38.5 AS Decimal(4, 1)), N'Suc khoe binh thuong', N'Tiep tuc theo doi', CAST(N'2026-09-17' AS Date))
INSERT [dbo].[pet_health_records] ([id], [pet_id], [appointment_id], [vet_id], [weight_kg], [temperature], [diagnosis], [treatment], [visit_date]) VALUES (2, 2, 2, 2, CAST(3.80 AS Decimal(5, 2)), CAST(38.2 AS Decimal(4, 1)), N'Can tiem phong', N'Tiem vaccine', CAST(N'2026-09-17' AS Date))
INSERT [dbo].[pet_health_records] ([id], [pet_id], [appointment_id], [vet_id], [weight_kg], [temperature], [diagnosis], [treatment], [visit_date]) VALUES (3, 3, 3, 3, CAST(22.50 AS Decimal(5, 2)), CAST(39.0 AS Decimal(4, 1)), N'Viem da nhe', N'Ve sinh va boi thuoc', CAST(N'2026-09-17' AS Date))
SET IDENTITY_INSERT [dbo].[pet_health_records] OFF
GO
SET IDENTITY_INSERT [dbo].[pet_images] ON 

INSERT [dbo].[pet_images] ([id], [pet_id], [image_url], [is_avatar], [uploaded_at]) VALUES (1, 1, N'pet-01.jpg', 1, CAST(N'2026-09-17T21:27:35.893' AS DateTime))
INSERT [dbo].[pet_images] ([id], [pet_id], [image_url], [is_avatar], [uploaded_at]) VALUES (2, 2, N'pet-02.jpg', 1, CAST(N'2026-09-17T21:27:35.893' AS DateTime))
INSERT [dbo].[pet_images] ([id], [pet_id], [image_url], [is_avatar], [uploaded_at]) VALUES (3, 3, N'pet-03.jpg', 1, CAST(N'2026-09-17T21:27:35.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[pet_images] OFF
GO
SET IDENTITY_INSERT [dbo].[pet_packages] ON 

INSERT [dbo].[pet_packages] ([id], [pet_id], [package_id], [start_date], [end_date], [status]) VALUES (1, 1, 1, CAST(N'2026-09-01' AS Date), CAST(N'2026-10-01' AS Date), 1)
INSERT [dbo].[pet_packages] ([id], [pet_id], [package_id], [start_date], [end_date], [status]) VALUES (2, 2, 2, CAST(N'2026-09-02' AS Date), CAST(N'2026-12-01' AS Date), 1)
INSERT [dbo].[pet_packages] ([id], [pet_id], [package_id], [start_date], [end_date], [status]) VALUES (3, 3, 3, CAST(N'2026-08-01' AS Date), CAST(N'2026-09-01' AS Date), 2)
SET IDENTITY_INSERT [dbo].[pet_packages] OFF
GO
SET IDENTITY_INSERT [dbo].[pets] ON 

INSERT [dbo].[pets] ([id], [user_id], [qr_token], [name], [species], [breed], [gender], [weight_kg], [created_at], [updated_at]) VALUES (1, 1, N'PET-QR-0001', N'Milu', N'Cho', N'Poodle', N'Male', CAST(6.20 AS Decimal(4, 2)), CAST(N'2026-09-17T21:27:35.7666667' AS DateTime2), NULL)
INSERT [dbo].[pets] ([id], [user_id], [qr_token], [name], [species], [breed], [gender], [weight_kg], [created_at], [updated_at]) VALUES (2, 2, N'PET-QR-0002', N'Lucky', N'Meo', N'Anh long ngan', N'Female', CAST(3.80 AS Decimal(4, 2)), CAST(N'2026-09-17T21:27:35.7666667' AS DateTime2), NULL)
INSERT [dbo].[pets] ([id], [user_id], [qr_token], [name], [species], [breed], [gender], [weight_kg], [created_at], [updated_at]) VALUES (3, 3, N'PET-QR-0003', N'Bong', N'Cho', N'Golden Retriever', N'Male', CAST(22.50 AS Decimal(4, 2)), CAST(N'2026-09-17T21:27:35.7666667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[pets] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [category_id], [product_name], [description], [unit], [import_price], [sell_price], [stock_quantity], [image_url], [status], [created_at], [updated_at]) VALUES (1, 1, N'Hat cho cho', N'Thuc an kho', N'kg', CAST(80000.00 AS Decimal(12, 2)), CAST(120000.00 AS Decimal(12, 2)), 50, N'food-dog.jpg', N'active', CAST(N'2026-09-17T21:27:35.673' AS DateTime), NULL)
INSERT [dbo].[products] ([id], [category_id], [product_name], [description], [unit], [import_price], [sell_price], [stock_quantity], [image_url], [status], [created_at], [updated_at]) VALUES (2, 1, N'Pate cho meo', N'Pate dong hop', N'hop', CAST(25000.00 AS Decimal(12, 2)), CAST(40000.00 AS Decimal(12, 2)), 80, N'food-cat.jpg', N'active', CAST(N'2026-09-17T21:27:35.673' AS DateTime), NULL)
INSERT [dbo].[products] ([id], [category_id], [product_name], [description], [unit], [import_price], [sell_price], [stock_quantity], [image_url], [status], [created_at], [updated_at]) VALUES (3, 2, N'Vong co thu cung', N'Vong co da', N'cai', CAST(50000.00 AS Decimal(12, 2)), CAST(90000.00 AS Decimal(12, 2)), 30, N'collar.jpg', N'active', CAST(N'2026-09-17T21:27:35.673' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 6, CAST(N'2026-09-24T15:00:44.1272567' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 7, CAST(N'2026-09-24T15:00:44.1273578' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_id], [permission_id], [created_at]) VALUES (1, 8, CAST(N'2026-09-24T15:00:44.1273586' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [description], [status], [created_at], [updated_at]) VALUES (1, N'Quản trị viên', N'Quan tri he thong', N'active', CAST(N'2026-09-17T21:27:35.5974589' AS DateTime2), CAST(N'2026-09-24T15:00:44.0953856' AS DateTime2))
INSERT [dbo].[roles] ([id], [name], [description], [status], [created_at], [updated_at]) VALUES (2, N'staff', N'Nhan vien', N'active', CAST(N'2026-09-17T21:27:35.5974589' AS DateTime2), NULL)
INSERT [dbo].[roles] ([id], [name], [description], [status], [created_at], [updated_at]) VALUES (3, N'member', N'Khach hang', N'active', CAST(N'2026-09-17T21:27:35.5974589' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[service_packages] ON 

INSERT [dbo].[service_packages] ([id], [name], [description], [price], [duration_minutes], [status], [created_at], [validity_days]) VALUES (1, N'Goi co ban', N'Goi cham soc co ban', CAST(500000.00 AS Decimal(10, 2)), 90, 1, CAST(N'2026-09-17T21:27:35.653' AS DateTime), 30)
INSERT [dbo].[service_packages] ([id], [name], [description], [price], [duration_minutes], [status], [created_at], [validity_days]) VALUES (2, N'Goi tiem phong', N'Goi tiem phong dinh ky', CAST(700000.00 AS Decimal(10, 2)), 60, 1, CAST(N'2026-09-17T21:27:35.653' AS DateTime), 90)
INSERT [dbo].[service_packages] ([id], [name], [description], [price], [duration_minutes], [status], [created_at], [validity_days]) VALUES (3, N'Goi lam dep', N'Goi tam va cat tia', CAST(800000.00 AS Decimal(10, 2)), 150, 1, CAST(N'2026-09-17T21:27:35.653' AS DateTime), 30)
SET IDENTITY_INSERT [dbo].[service_packages] OFF
GO
SET IDENTITY_INSERT [dbo].[services] ON 

INSERT [dbo].[services] ([id], [name], [description], [price], [duration_minutes], [image_url], [status], [created_at]) VALUES (1, N'Kham tong quat', N'Kham suc khoe co ban', CAST(150000.00 AS Decimal(10, 2)), 30, N'service-general.jpg', 1, CAST(N'2026-09-17T21:27:35.647' AS DateTime))
INSERT [dbo].[services] ([id], [name], [description], [price], [duration_minutes], [image_url], [status], [created_at]) VALUES (2, N'Tiem phong', N'Tiem phong dinh ky', CAST(200000.00 AS Decimal(10, 2)), 20, N'service-vaccine.jpg', 1, CAST(N'2026-09-17T21:27:35.647' AS DateTime))
INSERT [dbo].[services] ([id], [name], [description], [price], [duration_minutes], [image_url], [status], [created_at]) VALUES (3, N'Tam rua', N'Ve sinh va tam rua thu cung', CAST(120000.00 AS Decimal(10, 2)), 45, N'service-grooming.jpg', 1, CAST(N'2026-09-17T21:27:35.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[services] OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([id], [user_id], [position], [hire_date], [status], [created_at], [updated_at]) VALUES (1, 2, N'Nhan vien tiep nhan', CAST(N'2024-01-15' AS Date), N'active', CAST(N'2026-09-17T21:27:35.6362301' AS DateTime2), NULL)
INSERT [dbo].[staff] ([id], [user_id], [position], [hire_date], [status], [created_at], [updated_at]) VALUES (2, 4, N'Le tan', CAST(N'2024-03-01' AS Date), N'active', CAST(N'2026-09-17T21:27:35.6362301' AS DateTime2), NULL)
INSERT [dbo].[staff] ([id], [user_id], [position], [hire_date], [status], [created_at], [updated_at]) VALUES (3, 5, N'Quan ly', CAST(N'2023-06-10' AS Date), N'active', CAST(N'2026-09-17T21:27:35.6362301' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
SET IDENTITY_INSERT [dbo].[suppliers] ON 

INSERT [dbo].[suppliers] ([id], [supplier_name], [phone], [email], [address], [created_at]) VALUES (1, N'Nha cung cap A', N'0911000001', N'supplier1@example.com', N'TP HCM', CAST(N'2026-09-17T21:27:35.663' AS DateTime))
INSERT [dbo].[suppliers] ([id], [supplier_name], [phone], [email], [address], [created_at]) VALUES (2, N'Nha cung cap B', N'0911000002', N'supplier2@example.com', N'Binh Duong', CAST(N'2026-09-17T21:27:35.663' AS DateTime))
INSERT [dbo].[suppliers] ([id], [supplier_name], [phone], [email], [address], [created_at]) VALUES (3, N'Nha cung cap C', N'0911000003', N'supplier3@example.com', N'Dong Nai', CAST(N'2026-09-17T21:27:35.663' AS DateTime))
SET IDENTITY_INSERT [dbo].[suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [role_id], [username], [password_hash], [full_name], [email], [phone_number], [address], [status], [created_at], [updated_at]) VALUES (1, 7, N'admin01', N'AQAAAAIAAYagAAAAEIQ0LduIVbiqlSCu/J9gqbvCTeIMC9Fl7CKLKiSti2qcr9CPF5NVZ/6/KDZsV1FffQ==', N'Nguyen Tuong Huy', N'an@example.com', N'0900000023', N'TP HCM', N'active', CAST(N'2026-09-17T21:27:35.6272450' AS DateTime2), CAST(N'2026-09-25T01:11:04.6181908' AS DateTime2))
INSERT [dbo].[users] ([id], [role_id], [username], [password_hash], [full_name], [email], [phone_number], [address], [status], [created_at], [updated_at]) VALUES (2, 2, N'staff01', N'demo_hash_02', N'Tran Thi Binh', N'binh@example.com', N'0900000002', N'TP HCM', N'active', CAST(N'2026-09-17T21:27:35.6272450' AS DateTime2), NULL)
INSERT [dbo].[users] ([id], [role_id], [username], [password_hash], [full_name], [email], [phone_number], [address], [status], [created_at], [updated_at]) VALUES (3, 3, N'member01', N'demo_hash_03', N'Le Van Cuong', N'cuong@example.com', N'0900000003', N'Binh Duong', N'active', CAST(N'2026-09-17T21:27:35.6272450' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vaccination_records] ON 

INSERT [dbo].[vaccination_records] ([id], [pet_id], [vaccine_name], [batch_number], [administered_date], [next_due_date], [vet_id]) VALUES (1, 1, N'Vaccine 5 ben', N'LOT-001', CAST(N'2026-01-10' AS Date), CAST(N'2027-01-10' AS Date), 1)
INSERT [dbo].[vaccination_records] ([id], [pet_id], [vaccine_name], [batch_number], [administered_date], [next_due_date], [vet_id]) VALUES (2, 2, N'Vaccine 4 ben', N'LOT-002', CAST(N'2026-02-11' AS Date), CAST(N'2027-02-11' AS Date), 2)
INSERT [dbo].[vaccination_records] ([id], [pet_id], [vaccine_name], [batch_number], [administered_date], [next_due_date], [vet_id]) VALUES (3, 3, N'Vaccine dai', N'LOT-003', CAST(N'2026-03-12' AS Date), CAST(N'2027-03-12' AS Date), 3)
SET IDENTITY_INSERT [dbo].[vaccination_records] OFF
GO
SET IDENTITY_INSERT [dbo].[veterinarians] ON 

INSERT [dbo].[veterinarians] ([id], [user_id], [specialty], [license_no], [years_of_experience], [status], [created_at], [updated_at]) VALUES (1, 8, N'Noi khoa thu cung', N'VET-0001', 8, N'active', CAST(N'2026-09-17T21:27:35.6422447' AS DateTime2), NULL)
INSERT [dbo].[veterinarians] ([id], [user_id], [specialty], [license_no], [years_of_experience], [status], [created_at], [updated_at]) VALUES (2, 9, N'Ngoai khoa', N'VET-0002', 6, N'active', CAST(N'2026-09-17T21:27:35.6422447' AS DateTime2), NULL)
INSERT [dbo].[veterinarians] ([id], [user_id], [specialty], [license_no], [years_of_experience], [status], [created_at], [updated_at]) VALUES (3, 10, N'Da lieu', N'VET-0003', 5, N'active', CAST(N'2026-09-17T21:27:35.6422447' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[veterinarians] OFF
GO
/****** Object:  Index [IX_appointments_date]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_appointments_date] ON [dbo].[appointments]
(
	[appointment_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_appointments_pet_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_appointments_pet_id] ON [dbo].[appointments]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_appointments_user_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_appointments_user_id] ON [dbo].[appointments]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BreedPredictionDetails_Breed]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[breed_prediction_details] ADD  CONSTRAINT [UQ_BreedPredictionDetails_Breed] UNIQUE NONCLUSTERED 
(
	[prediction_id] ASC,
	[predicted_breed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_BreedPredictionDetails_Rank]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[breed_prediction_details] ADD  CONSTRAINT [UQ_BreedPredictionDetails_Rank] UNIQUE NONCLUSTERED 
(
	[prediction_id] ASC,
	[rank_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BreedPredictionDetails_PredictionId]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BreedPredictionDetails_PredictionId] ON [dbo].[breed_prediction_details]
(
	[prediction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BreedPredictions_UserId]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BreedPredictions_UserId] ON [dbo].[breed_predictions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__cart_ite__6A850DF9C45C037A]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[cart_items] ADD UNIQUE NONCLUSTERED 
(
	[cart_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__5189E25599D99276]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_chat_conversations_user_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_chat_conversations_user_id] ON [dbo].[chat_conversations]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_feedbacks_user_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_feedbacks_user_id] ON [dbo].[feedbacks]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__import_d__D5850BC1B329C39E]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[import_details] ADD UNIQUE NONCLUSTERED 
(
	[receipt_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__invoices__465962288FA3F3F0]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[invoices] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_medical_prescriptions_record_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_medical_prescriptions_record_id] ON [dbo].[medical_prescriptions]
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_notifications_user_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_notifications_user_id] ON [dbo].[notifications]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__order_it__022945F70F9B4568]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[order_items] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payments__DD5740BEC23CB573]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[payments] ADD UNIQUE NONCLUSTERED 
(
	[transaction_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__357D4CF941E2CFFC]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pet_health_records_pet_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_pet_health_records_pet_id] ON [dbo].[pet_health_records]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PetImages_PetId]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PetImages_PetId] ON [dbo].[pet_images]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pet_packages_pet_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_pet_packages_pet_id] ON [dbo].[pet_packages]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pets__2254D598BAD98A68]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[pets] ADD UNIQUE NONCLUSTERED 
(
	[qr_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pets_user_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_pets_user_id] ON [dbo].[pets]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__staff__B9BE370E2A93FBB2]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[staff] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__supplier__AB6E61645AF3786C]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[suppliers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616484B83536]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572D0AC3FD8]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vaccination_records_pet_id]    Script Date: 9/29/2026 10:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_vaccination_records_pet_id] ON [dbo].[vaccination_records]
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__veterina__B9BE370E55F2101E]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[veterinarians] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__veterina__BBBB6DA6808577AA]    Script Date: 9/29/2026 10:57:55 PM ******/
ALTER TABLE [dbo].[veterinarians] ADD UNIQUE NONCLUSTERED 
(
	[license_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointments] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[breed_predictions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chat_conversations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[feedbacks] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[feedbacks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[import_receipts] ADD  DEFAULT (getdate()) FOR [receipt_date]
GO
ALTER TABLE [dbo].[import_receipts] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [invoice_date]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((0)) FOR [tax_amount]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[pet_health_records] ADD  DEFAULT (CONVERT([date],getdate())) FOR [visit_date]
GO
ALTER TABLE [dbo].[pet_images] ADD  DEFAULT ((0)) FOR [is_avatar]
GO
ALTER TABLE [dbo].[pet_images] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[pet_packages] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[pets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[veterinarians] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[veterinarians] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([vet_id])
REFERENCES [dbo].[veterinarians] ([id])
GO
ALTER TABLE [dbo].[appointments_services]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[appointments_services]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[breed_prediction_details]  WITH CHECK ADD  CONSTRAINT [FK_BreedPredictionDetails_Predictions] FOREIGN KEY([prediction_id])
REFERENCES [dbo].[breed_predictions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[breed_prediction_details] CHECK CONSTRAINT [FK_BreedPredictionDetails_Predictions]
GO
ALTER TABLE [dbo].[breed_predictions]  WITH CHECK ADD  CONSTRAINT [FK_BreedPredictions_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[breed_predictions] CHECK CONSTRAINT [FK_BreedPredictions_Users]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chat_conversations]  WITH CHECK ADD  CONSTRAINT [FK_chat_conversations_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chat_conversations] CHECK CONSTRAINT [FK_chat_conversations_users]
GO
ALTER TABLE [dbo].[feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_feedbacks_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[feedbacks] CHECK CONSTRAINT [FK_feedbacks_users]
GO
ALTER TABLE [dbo].[import_details]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[import_details]  WITH CHECK ADD FOREIGN KEY([receipt_id])
REFERENCES [dbo].[import_receipts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[import_receipts]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[import_receipts]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([issued_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[medical_prescriptions]  WITH CHECK ADD FOREIGN KEY([record_id])
REFERENCES [dbo].[pet_health_records] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_appointments] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_appointments]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[pet_health_records]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[pet_health_records]  WITH CHECK ADD FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[pet_health_records]  WITH CHECK ADD FOREIGN KEY([vet_id])
REFERENCES [dbo].[veterinarians] ([id])
GO
ALTER TABLE [dbo].[pet_images]  WITH CHECK ADD  CONSTRAINT [FK_PetImages_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pet_images] CHECK CONSTRAINT [FK_PetImages_Pets]
GO
ALTER TABLE [dbo].[pet_packages]  WITH CHECK ADD FOREIGN KEY([package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[pet_packages]  WITH CHECK ADD FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[pets]  WITH CHECK ADD  CONSTRAINT [FK_pets_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pets] CHECK CONSTRAINT [FK_pets_users]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permissions] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permissions]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_roles]
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [FK_staff_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [FK_staff_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[vaccination_records]  WITH CHECK ADD FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[vaccination_records]  WITH CHECK ADD FOREIGN KEY([vet_id])
REFERENCES [dbo].[veterinarians] ([id])
GO
ALTER TABLE [dbo].[veterinarians]  WITH CHECK ADD  CONSTRAINT [FK_veterinarians_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[veterinarians] CHECK CONSTRAINT [FK_veterinarians_users]
GO
ALTER TABLE [dbo].[appointments_services]  WITH CHECK ADD CHECK  (([price_at_booking]>=(0)))
GO
ALTER TABLE [dbo].[breed_prediction_details]  WITH CHECK ADD CHECK  (([confidence]>=(0.0000) AND [confidence]<=(1.0000)))
GO
ALTER TABLE [dbo].[breed_predictions]  WITH CHECK ADD CHECK  (([confidence]>=(0.0000) AND [confidence]<=(1.0000)))
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD CHECK  (([status]='checked_out' OR [status]='active'))
GO
ALTER TABLE [dbo].[feedbacks]  WITH CHECK ADD CHECK  (([status]='resolved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[import_details]  WITH CHECK ADD CHECK  (([import_price]>=(0)))
GO
ALTER TABLE [dbo].[import_details]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[import_receipts]  WITH CHECK ADD CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD CHECK  (([tax_amount]>=(0)))
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[medical_prescriptions]  WITH CHECK ADD CHECK  (([duration_days]>(0)))
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD CHECK  (([type]='system' OR [type]='promotion' OR [type]='appointment'))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='completed' OR [status]='shipping' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([payment_method]='e_wallet' OR [payment_method]='credit_card' OR [payment_method]='bank_transfer' OR [payment_method]='cash'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([status]='refunded' OR [status]='failed' OR [status]='completed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[pets]  WITH CHECK ADD CHECK  (([gender]='Female' OR [gender]='Male'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([import_price]>=(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([sell_price]>=(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[service_packages]  WITH CHECK ADD CHECK  (([duration_minutes]>(0)))
GO
ALTER TABLE [dbo].[service_packages]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[service_packages]  WITH CHECK ADD CHECK  (([validity_days]>(0)))
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD CHECK  (([duration_minutes]>(0)))
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
USE [master]
GO
